<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Backlog Hero</title>
  <meta name="description" content="Track your game library.">
  <meta name="author" content="Clay Heaton">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body>

  <!-- Navbar 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <section class="header">
      <div class="container">
        <h4 class="title">Backlog Hero</h4>
      </div>
    </section>
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="#">Home</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#">About</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for_security('logout') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Logout') }}</a></li>
        {% else %}
          {% if security.registerable or security.recoverable or security.confirmable %}
          <li class="navbar-item"><a class="navbar-link" href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Login') }}</a></li>
          {% endif %}
          {% if security.registerable %}
          <li class="navbar-item"><a class="navbar-link" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Register') }}</a><br/></li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </header>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block page_scripts %}{% endblock %}
</body>

</html>